---
import { SITE_NAME } from '../consts';
const now = new Date();
const formatter = new Intl.DateTimeFormat('en-US', { year: 'numeric' });
---
<footer class="py-6.25 border-t-1 border-gray-200 dark:border-gray-800 c-gray-600 dark:c-gray-400 text-xs text-center">
    <span>&copy; {formatter.format(now)} {SITE_NAME}</span>
</footer>